.pic {
    width: 1cm;
    height: 1cm;
    border-radius: 50%;
    background-color: white;
}
.body {
    display: inline-block;
    padding: 10px;
    color: black;
}
h4{
    color: rgb(66, 64, 64);
}
p{
    color: rgb(122, 116, 116);
}