body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}
.accordion {
    border: 1px solid rgb(196, 186, 186);
    border-radius: 5px;
}
.muc {
    border-bottom: 1px solid rgb(196, 186, 186);
}
.tieu-de {
    background-color: white;
    padding: 15px;
    margin: 0;
}
.noi-dung {
    display: none;
    padding: 15px;
    background-color: white;
}
.muc.active
.tieu-de {
    background-color: blue;
    color: white;
}
.muc.active
.noi-dung {
    display: block;
}
.b{
    color: pink;
}