body {
    font-family: Arial, sans-serif;
    padding: 20px;
    height: 100vh;
}
.body11 {
    width: 300px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.header {
    background-color: #ff5722;
    color: white;
    padding: 10px;
    text-align: center;
}

.content {
    padding: 15px;
}
.note {
    color: #666;
    font-size: 12px;
}
.buttons {
    padding: 10px;
    text-align: center;
}
.dky{
    width: 6cm;
    height: 1cm;
    border-radius: 5px;
    background-color: rgb(248, 100, 100);
}
.chitiet {
    background-color: white;
    color: black;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 5px;
    width: 4cm;
}
.yellow{
    color: rgb(230, 230, 36);
}
p{
    margin: 5px 0;
    text-align: center;
}
.hot{
    position: absolute;
    top: 0px;
    left: 7cm;
}
